.footer_container{
    width: 100%;
    background: #cdcbcb;
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}